doctype html
head
    meta(charset='utf-8')
    title Bro app
    meta(content='Cornflake', name='description')
    meta(content='width=device-width', name='viewport')
    script(src='js/compiler.js', type='text/javascript')
    link(href='css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.row
        div.col-md-4.col-md-offset-4
          {{#login}}
          h2 You need to login man
          button.btn.btn-lg.btn-primary.btn-block(onClick='{{{facebook.login}}}') Login with Facebook
          {{/login}}

          {{#loading}}
          p Loading... just wait...
          {{/loading}}

          {{#step 1}}
          div.text-center
            h2 What r your scores man?
            {{#last (sortBy current_user.gym_sessions 'squat')}}
            p Max squat is: {{squat}}
            {{/last}}

          {{#with current_user.gym_session}}
          div.form-group
            input(value='{{squat}}' placeholder='Squat' class='form-control')
          div.form-group
            input(value='{{bench}}' placeholder='Bench' class='form-control')
          div.form-group
            input(value='{{deadlift}}' placeholder='Deadlift' class='form-control')
          div.form-group
            input(value='{{press}}' placeholder='Press' class='form-control')
          div.form-group
            input(value='{{powerclean}}' placeholder='Power clean' class='form-control')
          div.row
            .col-md-4
              button.btn-block.btn.btn-lg.btn-success(onClick='{{{create}}}') Add
            .col-md-8
              button.btn-block.btn.btn-lg.btn-primary(onClick='{{{next}}}') Last gym sessions
          {{/with}}
          {{/step}}

          {{#step 2}}
          .text-center
            h2 Last gym sessions
          {{#each (sortBy current_user.gym_sessions 'created_at')}}
          div.panel.panel-default
            div.panel-heading
              | Sukurtas: {{created_at}}
            table.table
              tr
                td Squat
                td {{squat}}
              tr
                td Bench
                td {{bench}}
              tr
                td Deadlift
                td {{deadlift}}
              tr
                td Press
                td {{press}}
              tr
                td Power clean
                td {{powerclean}}
          {{else}}
          p There are no records
          {{/each}}
          button.btn.btn-lg.btn-primary.btn-block(onClick='{{{previous}}}') Add gym session
          {{/step}}
